@import url('https://fonts.googleapis.com/css?family=Coiny');

body {
    background:url(https://www.thelocal.fr/userdata/images/article/4918357d3e7f839ff0d19115b0cb3ead8c8b93075a53ebf5fe8b90b39bf6bdfd.jpg)
    no-repeat center fixed;
    -webkit-background-size:cover;     

    font-family: 'Open Sans', sans-serif;

}

.Titre1 {
    color:blanchedalmond; 
font-family: 'Coiny', cursive;

}

#Ironique {
    color: rgb(202, 16, 16)
}

.KING {
    color: white
}

